<?xml version="1.0" ?>
<!--
/**
 * @category    RoyalCyberMarketplace
 * @copyright   Copyright (c) 2022 RoyalCyberMarketplace (https://royalcyber.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="shippingfilter" frontName="shippingfilter">
            <module name="RoyalCyberMarketplace_ShippingRestriction" before="Magento_Backend"/>
        </route>
    </router>
</config>
